<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="thumbnail">
    <h2> <%= product.title %> </h2>
    <%= image_tag product.image_url, class: "img-responsive" %>
    <p> <%= product.description %> </p>
    <%= product.price %> <br/>
  </div>
</div>
